@import "../../../style/mixins/index.scss";

.at-calendar-slider__main {
  .main__body {
    @include display-flex;

    width: 100%;
    height: 235PX;

    &--animate {
      transition: transform 300ms cubic-bezier(0.36, 0.66, 0.04, 1);
    }

    .body__slider {
      @include flex(0 0 100%);
    }
  }

  // &__swiper--h5 {
  //   .swiper__wrapper {
  //     height: 100% !important;
  //   }

  //   .body__slider {
  //     height: 100% !important;
  //   }
  // }
}
